/* Footer */
footer {
  width: 100%;
  margin-top: 3%;
  position: relative;
  height: auto;
  background-color: black;
  font-family: "Raleway", sans-serif;
}

footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

footer .col ul li a {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

footer .col ul li a:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .col ul li {
  padding: 5px 0px 5px 0px;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

marquee {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: black;
  background: white;
}

.clearfix {
  clear: both;
}
/* Footer end */
